@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }
}

body {
  color: "#363636";
}

.hover-item {
  position: relative;
}

.hover-item:hover::before {
  content: url('../public/svg/edit.svg');
  position: absolute;
  top: -31px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 48px; /* Optional: Set SVG size */
  height: 35px; /* Optional: Set SVG size */
  z-index: 10;
}
